# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Config
appsettings.Development.json
appsettings.Local.json

# Others
*.cache
*.pdb
*.dbmdl
*.jfm
